<h1 class="page_top">User Detail</h1>
<dl class="show_dl">
  <div class="row image_row">
    <% if current_user.image && current_user.image.url %>
      <%= image_tag(current_user.image.url) %>
    <% else %>
      <div>no image...</div>
    <% end %>
  </div>
  <div class="row">
    <dt class="col-xs-offset-2 col-xs-2">name</dt>
    <dd class="col-xs-6"><%= @user.name %></dd>
  </div>
  <div class="row">
    <dt class="col-xs-offset-2 col-xs-2">email</dt>
    <dd class="col-xs-6"><%= @user.email %></dd>
  </div>
  <div class="row btn_row">
    <div>
      <%= link_to 'edit', edit_user_path(current_user.id),class:"btn btn-default" %>
      <%= link_to 'back to index', pictures_path,class:"btn btn-default" %>
    </div>
  </div>
  
</dl>