<%= form_with(model: @picture,local: true,url:choose_new_or_edit ) do |f| %>
  <div class="container-fluid">
    <div class="row">
      <%= f.label :title,class: "col-xs-offset-2 col-xs-2" %>
      <%= f.text_field :title,class: "col-xs-6" %>
    </div>
    <div class="row">
      <%= f.label :image,class: "col-xs-offset-2 col-xs-2"  %>
      <%= image_tag(@picture.image.url,class: "col-xs-6"  ) if @picture.image && @picture.image.url%>
      <%= f.file_field :image,id: :picture_image,class: "col-xs-6"  %>
      <%= f.hidden_field :image_cache %>
    </div>
    <div class="row">
      <%= f.label :comment,class: "col-xs-offset-2 col-xs-2"   %>
      <%= f.text_area :comment,class: "col-xs-6"   %>
    </div>
    <div class="row submit-row">
      <%= f.submit "new post",class: "btn btn-default submit-btn" %>
    </div>
  </div>
<% end %>