<h1 class="page_top">pictures</h1>

<div class="container-fluid">
  <% @pictures.each do |picture| %>
  <div class="panel panel-default col-xs-offset-1 col-xs-10">
    <div class="panel-heading"><%= picture.title%></div>
    <div class="panel-body">
      <div><%= image_tag(picture.image.url) if picture.image && picture.image.url %></div>
      <div class="post_comment"><%= picture.comment %></div>  
      <div class="post_by">posted by : <%= picture.user.name %></div>
    </div>
    <div class="panel-footer">
      <%= link_to 'show', picture_path(picture.id),class: "btn btn-default" %>
      <% if current_user && picture.user_id == current_user.id %>
        <%= link_to 'edit', edit_picture_path(picture.id),class: "btn btn-default" %>  
        <%= link_to 'delete', picture_path(picture.id),method: :delete,class: "btn btn-default",data:{ confirm: "本当に編集していいですか？" } %>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
