<!DOCTYPE html>
<html>
  <head>
    <title>InstagramClone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if logged_in? %>
        <%= link_to "Profile",user_path(current_user.id) %>
        <%= link_to "Log out",session_path(current_user.id), method: :delete %>
      <% else %>
        <%= link_to "Sign up",new_user_path %>
        <%= link_to "Log in",new_session_path %>
      <% end %>
    </header>

    <!-- @user のerror catch -->
    <% if @user && @user.errors.any? %>
      <p>
        <%= @user.errors.full_messages.size %>件のエラー
      </p>
      <ul>
        <% @user.errors.full_messages.each do |err| %>
          <li> <%= err %> </li>
        <% end %>
      </ul>
    <% end %>

    <!-- @picture のerror catch -->
    <% if @picture && @picture.errors.any? %>
      <p>
        <%= @picture.errors.full_messages.size %>件のエラー
      </p>
      <ul>
        <% @picture.errors.full_messages.each do |err| %>
          <li> <%= err %> </li>
        <% end %>
      </ul>
    <% end %>

    <!-- noticeを書く -->
    <div>
      <%= notice %>
    </div>




    <%= yield %>
  </body>
</html>
